<h1>Fake Login - Uso apenas para desenvolvimento</h1>
<form action="/fake-login" method="post">
  <p>
    <label for="app_credencial">Credencial da Aplicação</label>
    <input type="text" name="app_credencial" id="app_credencial" value="teste" />
    <span>(Valor: teste)</span>
  </p>
  <p>
    <label for="cliente_id">Código da empresa</label>
    <input type="text" name="cliente_id" id="cliente_id" value="212" />
    <span>(e-Partner: 212 | Redes: 58459)</span>
  </p>
  <p>
    <label for="funcionario_id">Código do funcionário</label>
    <input type="text" name="funcionario_id" id="funcionario_id" value="384" />
    <span>e-Partner (Admin: 384 | Normal: 22095) / Redes: (Admin: 178783 | Normal: 189391))</span>
  </p>
  <input type="submit" name="submit" value="Logar" />
</form>
