.vg-avatar {
  background: -webkit-gradient(linear, left top, left bottom, from(#c8c8c8), to(white));
  background: linear-gradient(to bottom, #c8c8c8 0%, white 100%);
  border-radius: 50%;
  border: 2px solid #c8c8c8;
  color: #4c4c4c;
  font-weight: bold;
  height: 50px;
  overflow: hidden;
  padding: 6px 0;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 50px;
}

.vg-avatar.vg-gravatar img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.vg-avatar .vg-icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: 100%;
}

.vg-avatar .vg-icon svg {
  fill: #797979;
}

.vg-avatar.vg-small {
  font-size: 0.9em;
  height: 30px;
  padding: 6px 0;
  width: 30px;
}[class^='vg-btn'] {
  background-color: #fff;
  color: #f7902a;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-family: "Titillium Web", sans-serif, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1;
  outline: none;
  padding: 16px;
  -webkit-transition: background 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), color 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: background 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), color 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: background 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), color 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: background 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), color 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  text-decoration: none;
}

[class^='vg-btn'][class*='vg-btn-outline'] {
  padding: 15px 14px;
}

[class^='vg-btn'].vg-btn-no-padding {
  padding-left: 8px;
  padding-right: 8px;
}

[class^='vg-btn'].vg-btn-no-padding-left {
  padding-left: 8px;
}

[class^='vg-btn'].vg-btn-no-padding-right {
  padding-right: 8px;
}

[class^='vg-btn'].vg-btn-split {
  margin-top: -16px;
  -webkit-transform: translate3d(0, 50%, 0);
          transform: translate3d(0, 50%, 0);
}

[class^='vg-btn']:focus:not(:disabled),
[class^='vg-btn']:hover:not(:disabled) {
  background-color: white;
  color: #f7902a;
  -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, .3);
          box-shadow: 0 4px 3px rgba(0, 0, 0, .3);
}

[class^='vg-btn']:active:not(:disabled) {
  background-color: #cccccc;
  color: #f7902a;
  -webkit-box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .5);
}

[class^='vg-btn'].vg-btn-sm {
  font-size: 1.2em;
  padding: 6px 16px;
  text-transform: uppercase;
}

[class^='vg-btn'].vg-btn-sm[class*='vg-btn-outline'] {
  padding: 5px 15px;
}

[class^='vg-btn'].vg-btn-sm.vg-btn-no-padding {
  padding-left: 8px;
  padding-right: 8px;
}

[class^='vg-btn'].vg-btn-sm.vg-btn-no-padding-left {
  padding-left: 8px;
}

[class^='vg-btn'].vg-btn-sm.vg-btn-no-padding-right {
  padding-right: 8px;
}

[class^='vg-btn'].vg-btn-lg {
  font-size: 1.6em;
  padding: 24px 39px;
  text-transform: uppercase;
}

[class^='vg-btn'].vg-btn-lg[class*='vg-btn-outline'] {
  padding: 23px 38px;
}

[class^='vg-btn'].vg-btn-lg.vg-btn-no-padding {
  padding-left: 19.5px;
  padding-right: 19.5px;
}

[class^='vg-btn'].vg-btn-lg.vg-btn-no-padding-left {
  padding-left: 19.5px;
}

[class^='vg-btn'].vg-btn-lg.vg-btn-no-padding-right {
  padding-right: 19.5px;
}

[class^='vg-btn'][class*='vg-btn-primary'] {
  background-color: #f7902a;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-primary']:focus:not(:disabled),
[class^='vg-btn'][class*='vg-btn-primary']:hover:not(:disabled) {
  background-color: #f89b3f;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-primary']:active:not(:disabled) {
  background-color: #de8226;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-primary'].vg-btn-primary-dark {
  background-color: #c67322;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-primary'].vg-btn-primary-dark:hover:not(:disabled),
[class^='vg-btn'][class*='vg-btn-primary'].vg-btn-primary-dark:focus:not(:disabled) {
  background-color: #de8226;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-primary'].vg-btn-primary-dark:active:not(:disabled) {
  background-color: #de8226;
  color: #fff;
}

[class^='vg-btn'].vg-btn-light {
  background-color: white;
  color: #797979;
}

[class^='vg-btn'].vg-btn-light:focus:not(:disabled),
[class^='vg-btn'].vg-btn-light:hover:not(:disabled) {
  background-color: white;
  color: #797979;
}

[class^='vg-btn'].vg-btn-light:active:not(:disabled) {
  background-color: #e6e6e6;
  color: #797979;
}

[class^='vg-btn'].vg-btn-success {
  background-color: #00ac4b;
  color: #fff;
}

[class^='vg-btn'].vg-btn-success:focus:not(:disabled),
[class^='vg-btn'].vg-btn-success:hover:not(:disabled) {
  background-color: #1ab45d;
  color: #fff;
}

[class^='vg-btn'].vg-btn-success:active:not(:disabled) {
  background-color: #009b44;
  color: #fff;
}

[class^='vg-btn'].vg-btn-danger {
  background-color: #ec373c;
  color: #fff;
}

[class^='vg-btn'].vg-btn-danger:focus:not(:disabled),
[class^='vg-btn'].vg-btn-danger:hover:not(:disabled) {
  background-color: #ee4b50;
  color: #fff;
}

[class^='vg-btn'].vg-btn-danger:active:not(:disabled) {
  background-color: #d43236;
  color: #fff;
}

[class^='vg-btn'].vg-btn-warning {
  background-color: #fbae39;
  color: #fff;
}

[class^='vg-btn'].vg-btn-warning:focus:not(:disabled),
[class^='vg-btn'].vg-btn-warning:hover:not(:disabled) {
  background-color: #fbb64d;
  color: #fff;
}

[class^='vg-btn'].vg-btn-warning:active:not(:disabled) {
  background-color: #e29d33;
  color: #fff;
}

[class^='vg-btn'].vg-btn-info {
  background-color: #60bed6;
  color: #fff;
}

[class^='vg-btn'].vg-btn-info:focus:not(:disabled),
[class^='vg-btn'].vg-btn-info:hover:not(:disabled) {
  background-color: #70c5da;
  color: #fff;
}

[class^='vg-btn'].vg-btn-info:active:not(:disabled) {
  background-color: #56abc1;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-link'] {
  background: transparent;
}

[class^='vg-btn'][class*='vg-btn-link']:active:not(:disabled),
[class^='vg-btn'][class*='vg-btn-link']:hover:not(:disabled),
[class^='vg-btn'][class*='vg-btn-link']:focus:not(:disabled) {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

[class^='vg-btn'][class*='vg-btn-link'].vg-btn-link-white {
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-link'].vg-btn-link-white:focus:not(:disabled),
[class^='vg-btn'][class*='vg-btn-link'].vg-btn-link-white:hover:not(:disabled) {
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-link']:focus:not(:disabled),
[class^='vg-btn'][class*='vg-btn-link']:hover:not(:disabled) {
  text-decoration: underline;
}

[class^='vg-btn'].vg-btn-block {
  display: block;
  text-align: center;
  width: 100%;
}

[class^='vg-btn'][class*='vg-btn-outline'],
[class^='vg-btn'].vg-btn-outline {
  color: #f7902a;
  border-color: #f7902a;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
}

[class*='vg-theme-'] [class^='vg-btn'][class*='vg-btn-outline'],
[class*='vg-theme-'] [class^='vg-btn'].vg-btn-outline {
  background-color: transparent;
}

[class^='vg-btn'][class*='vg-btn-outline']:focus:not(:disabled),
[class^='vg-btn'][class*='vg-btn-outline']:hover:not(:disabled),
[class^='vg-btn'].vg-btn-outline:focus:not(:disabled),
[class^='vg-btn'].vg-btn-outline:hover:not(:disabled) {
  background-color: #f89b3f;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-outline']:active:not(:disabled),
[class^='vg-btn'].vg-btn-outline:active:not(:disabled) {
  background-color: #de8226;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline-white,
[class^='vg-btn'].vg-btn-outline.vg-btn-outline-white {
  color: white;
  border-color: white;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline-white:focus:not(:disabled),
[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline-white:hover:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline-white:focus:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline-white:hover:not(:disabled) {
  background-color: white;
  color: #797979;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline-white:active:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline-white:active:not(:disabled) {
  background-color: #e6e6e6;
  color: #797979;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline-black,
[class^='vg-btn'].vg-btn-outline.vg-btn-outline-black {
  color: black;
  border-color: black;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline-black:focus:not(:disabled),
[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline-black:hover:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline-black:focus:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline-black:hover:not(:disabled) {
  background-color: #1a1a1a;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline-black:active:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline-black:active:not(:disabled) {
  background-color: black;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline-gray,
[class^='vg-btn'].vg-btn-outline.vg-btn-outline-gray {
  color: #797979;
  border-color: #797979;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline-gray:focus:not(:disabled),
[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline-gray:hover:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline-gray:focus:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline-gray:hover:not(:disabled) {
  background-color: #868686;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline-gray:active:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline-gray:active:not(:disabled) {
  background-color: #6d6d6d;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-success,
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-success {
  color: #00ac4b;
  border-color: #00ac4b;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-success:focus:not(:disabled),
[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-success:hover:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-success:focus:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-success:hover:not(:disabled) {
  background-color: #1ab45d;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-success:active:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-success:active:not(:disabled) {
  background-color: #009b44;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-danger,
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-danger {
  color: #ec373c;
  border-color: #ec373c;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-danger:focus:not(:disabled),
[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-danger:hover:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-danger:focus:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-danger:hover:not(:disabled) {
  background-color: #ee4b50;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-danger:active:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-danger:active:not(:disabled) {
  background-color: #d43236;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-warning,
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-warning {
  color: #fbae39;
  border-color: #fbae39;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-warning:focus:not(:disabled),
[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-warning:hover:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-warning:focus:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-warning:hover:not(:disabled) {
  background-color: #fbb64d;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-warning:active:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-warning:active:not(:disabled) {
  background-color: #e29d33;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-info,
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-info {
  color: #60bed6;
  border-color: #60bed6;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-info:focus:not(:disabled),
[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-info:hover:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-info:focus:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-info:hover:not(:disabled) {
  background-color: #70c5da;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-info:active:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-info:active:not(:disabled) {
  background-color: #56abc1;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-epartner,
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-epartner {
  color: #f7902a;
  border-color: #f7902a;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-epartner:focus:not(:disabled),
[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-epartner:hover:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-epartner:focus:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-epartner:hover:not(:disabled) {
  background-color: #f89b3f;
  color: #fff;
}

[class^='vg-btn'][class*='vg-btn-outline'].vg-btn-outline.vg-btn-epartner:active:not(:disabled),
[class^='vg-btn'].vg-btn-outline.vg-btn-outline.vg-btn-epartner:active:not(:disabled) {
  background-color: #de8226;
  color: #fff;
}

[class^='vg-btn'][disabled] {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
  opacity: 0.45;
}

[class^='vg-btn'][disabled]:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.vg-btn-spc-lt {
  margin-left: 16px;
}

.vg-btn-spc-rt {
  margin-right: 16px;
}

@media (min-width: 1024px) {
  [class^='vg-btn'] {
    padding: 11px 16px;
  }

  [class^='vg-btn'][class*='vg-btn-outline'] {
    padding: 9.5px 14px;
  }
}.vg-icon {
  display: inline-block;
  height: 18px;
  vertical-align: text-bottom;
  width: 18px;
}

.vg-icon svg {
  height: 100%;
  width: 100%;
}.vg-loader-wrap p {
  -webkit-animation: text-blink 1.5s infinite ease-in-out;
          animation: text-blink 1.5s infinite ease-in-out;
  display: inline-block;
  font-size: 1.4em;
  margin-left: 10px;
}

.vg-loader {
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
  border: 4px solid #f7902a;
  border-radius: 10%;
  display: inline-block;
  height: 30px;
  overflow: hidden;
  position: relative;
  top: 50%;
  width: 30px;
  vertical-align: middle;
}

.vg-loader .vg-loader-inner {
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
  background-color: #f7902a;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@-webkit-keyframes text-blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes text-blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}.vg-logo {
  display: inline-block;
  position: relative;
  z-index: 1;
  vertical-align: top;
}

.vg-logo span {
  display: block;
  height: 33px;
  width: 203px;
}

.vg-logo svg {
  display: block;
  height: 100%;
  width: 100%;
}.vg-tag {
  background-color: #f7902a;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  padding: 2px 6px;
}.vg-dropdown-menu {
  float: right;
  margin-left: 10px;
  position: relative;
}

.vg-dropdown-menu .vg-dropdown-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  cursor: pointer;
  line-height: 0.5;
  outline: 0;
  padding: 17.5px 15px;
}

.vg-dropdown-menu .vg-dropdown-button .vg-icon-arrow {
  display: inline-block;
  height: 10px;
  margin: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  width: 10px;
  vertical-align: middle;
}

.vg-dropdown-menu .vg-dropdown-button .vg-icon-arrow svg {
  fill: #f7902a;
  margin-bottom: 3px;
}

.vg-dropdown-menu .vg-dropdown-button:focus svg,
.vg-dropdown-menu .vg-dropdown-button:hover svg {
  fill: #fff;
}

.vg-dropdown-menu.vg-active .vg-icon-arrow {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.vg-dropdown-menu.vg-active .vg-icon-arrow svg {
  fill: #fff;
}

.vg-dropdown-menu.vg-active .vg-dropdown-list {
  opacity: 1;
  -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
  visibility: visible;
}

.vg-dropdown-menu .vg-dropdown-list {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
          box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
  list-style: none;
  margin: 0;
  min-width: 220px;
  opacity: 0;
  padding: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 74%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.5s ease, -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.5s ease, -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.5s ease;
  transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.5s ease, -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  visibility: hidden;
  z-index: 3;
}

.vg-dropdown-menu .vg-dropdown-list::after,
.vg-dropdown-menu .vg-dropdown-list::before {
  top: -26px;
  right: 3px;
  border: 10px solid transparent;
  border-bottom-color: #c8c8c8;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.vg-dropdown-menu .vg-dropdown-list::after {
  border-bottom-color: #fff;
  border-width: 17px;
}

.vg-dropdown-menu .vg-dropdown-list::before {
  right: 10px;
  top: -20px;
}

.vg-dropdown-menu .vg-dropdown-list li {
  margin-bottom: 5px;
}

.vg-dropdown-menu .vg-dropdown-list li.vg-line-top {
  border-top: 1px solid #edeced;
  margin-top: 8px;
  padding-top: 8px;
}

.vg-dropdown-menu .vg-dropdown-list li a {
  color: #4c4c4c;
  display: block;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.4;
  padding: 5px 20px;
  text-decoration: none;
  white-space: nowrap;
}

.vg-dropdown-menu .vg-dropdown-list li a:hover {
  background-color: #f2f2f2;
}

.vg-dropdown-menu .vg-dropdown-list li:last-child {
  margin-bottom: 0;
}

.vg-dropdown-menu .vg-dropdown-list li.vg-dropdown-line {
  border-bottom: 1px solid #c8c8c8;
}

@media (min-width: 1024px) {
  .vg-dropdown-menu .vg-dropdown-button {
    padding: 12px 15px;
  }
}.vg-fast-links {
  margin-top: 31px;
  margin-bottom: 31px;
  overflow: hidden;
}

.vg-fast-links ul {
  list-style: none;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.vg-fast-links .vg-icon-star {
  display: inline-block;
  fill: #fbae39;
  height: 26px;
  width: 26px;
  vertical-align: top;
}

.vg-fast-links h2 {
  display: inline-block;
  font-size: 1.4em;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #797979;
  margin: 5px 0 0 10px;
}

.vg-fast-links li {
  border-right: 1px solid #edeced;
  margin-bottom: 10px;
  min-height: 58px;
  -webkit-transition: background 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: background 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.vg-fast-links li:nth-of-type(1) {
  display: none;
  padding: 16px 0 16px 30px;
}

.vg-fast-links li:nth-of-type(1):hover {
  background-color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.vg-fast-links li:last-of-type {
  border: 0;
}

.vg-fast-links li a {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
          box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
  color: #f7902a;
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 23px;
  min-height: 58px;
  padding: 16px 15px;
  text-decoration: none;
  -webkit-transition: color 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.vg-fast-links li a .vg-icon {
  display: inline-block;
  fill: #f7902a;
  margin-right: 10px;
  margin-top: 3px;
  -webkit-transition: fill 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), stroke 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: fill 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), stroke 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.vg-fast-links li a .vg-icon.vg-icon-divulgar-vagas {
  stroke: #f7902a;
}

@media (min-width: 1024px) {
  .vg-fast-links {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
            box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
  }

  .vg-fast-links li {
    margin-bottom: 0;
  }

  .vg-fast-links li:hover {
    background-color: #f7902a;
  }

  .vg-fast-links li:hover a {
    color: #fff;
  }

  .vg-fast-links li:hover a .vg-icon {
    fill: #fff;
  }

  .vg-fast-links li:hover a .vg-icon.vg-icon-divulgar-vagas {
    stroke: #fff;
  }

  .vg-fast-links li:nth-of-type(1) {
    display: block;
  }

  .vg-fast-links li a {
    background-color: transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}.vg-footer {
  margin-top: 20px;
}

.vg-footer p {
  border-top: solid 1px #c8c8c8;
  padding-top: 20px;
  font-size: 1.3em;
  font-family: "Lato", sans-serif;
  color: #4c4c4c;
}

.vg-footer p .vg-icon-vagas {
  width: 86px;
  height: 24px;
  vertical-align: top;
  margin-top: -5px;
  margin-right: 10px;
}

.vg-footer p .vg-link {
  margin-left: 5px;
  color: #f7902a;
  font-weight: bold;
  text-decoration: none;
}

.vg-footer p .vg-link:hover {
  text-decoration: underline;
}.vg-navigation {
  display: block;
  margin-top: 1px;
  padding: 0;
  padding-top: 93px;
  text-align: center;
  width: 100%;
}

.vg-navigation ul {
  list-style: none;
  padding: 0;
}

.vg-navigation ul li {
  display: block;
  margin-bottom: 40px;
}

.vg-navigation ul li:last-child {
  margin-right: 0;
}

.vg-navigation ul li a {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 600;
  line-height: 0;
  position: relative;
  text-decoration: none;
}

.vg-navigation ul li a::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  border-radius: 4px;
  content: '';
  height: 2px;
  opacity: 0;
  position: absolute;
  top: 108%;
  -webkit-transform: translate3d(-50%, 10px, 0);
          transform: translate3d(-50%, 10px, 0);
  -webkit-transition: opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  width: 4px;
  will-change: transform;
}

.vg-navigation ul li a:hover::after,
.vg-navigation ul li a.vg-link-active::after {
  opacity: 1;
  -webkit-transform: translate3d(-50%, 5px, 0);
          transform: translate3d(-50%, 5px, 0);
  width: 100%;
}

@media (min-width: 1024px) {
  .vg-navigation {
    display: inline-block;
    width: calc(100% - 200px);
    padding: 0;
  }

  .vg-navigation ul li {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 33px;
  }

  .vg-navigation ul li a {
    font-size: 1.6em;
  }
}/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}.vg-phases-list {
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #edeced;
  color: #4c4c4c;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: 600;
  overflow: hidden;
  position: relative;
}

.vg-phases-list.vg-hide-before::before,
.vg-phases-list.vg-hide-after::after {
  opacity: 0;
}

.vg-phases-list::after,
.vg-phases-list::before {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: '';
  height: 36px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  width: 60px;
  z-index: 2;
}

.vg-phases-list::after {
  background: -webkit-gradient(linear, right top, left top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
  left: auto;
  right: 0;
}

.vg-phases-list .slick-track {
  will-change: transform;
}

.vg-phases-list .vg-phase {
  background-color: #fff;
  height: 36px;
  padding: 8px 20px 8px 42px;
  position: relative;
  text-align: center;
}

.vg-phases-list .vg-phase:hover .vg-phase-title {
  color: #f7902a;
}

.vg-phases-list .vg-phase.vg-active {
  background-color: #f2f2f2;
}

.vg-phases-list .vg-phase.vg-active::before,
.vg-phases-list .vg-phase.vg-active::after {
  background-color: #f2f2f2;
}

.vg-phases-list .vg-phase.vg-active .vg-phase-value {
  background-color: #fff;
  color: #f7902a;
}

.vg-phases-list .vg-phase::before,
.vg-phases-list .vg-phase::after {
  background-color: #fff;
  border: 1px solid #edeced;
  content: '';
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate3d(11px, -2px, 0) rotate(45deg);
          transform: translate3d(11px, -2px, 0) rotate(45deg);
  width: 40px;
  z-index: 1;
}

.vg-phases-list .vg-phase::after {
  border: 0;
  -webkit-transform: translate3d(-9px, -2px, 0);
          transform: translate3d(-9px, -2px, 0);
}

.vg-phases-list .vg-phase .vg-phase-title {
  font-size: 1.3em;
  line-height: 1.5;
  position: relative;
  -webkit-transition: color 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: color 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 2;
}

.vg-phases-list .vg-phase .vg-phase-value {
  background-color: #f2f2f2;
  border-radius: 8px;
  font-size: 1.3em;
  margin-left: 7px;
  padding: 1px 12px;
  position: relative;
  -webkit-transform: rotate(0.02deg) translateZ(0);
          transform: rotate(0.02deg) translateZ(0);
  z-index: 2;
}

.vg-phases-list .vg-phase .vg-phase-value:empty {
  display: none;
}

.vg-phases-list:hover .slick-arrow {
  -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
          transform: translate3d(0, 0, 0) rotate(180deg);
}

.vg-phases-list:hover .slick-arrow.slick-next {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.vg-phases-list .slick-arrow {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 18px;
  left: 8px;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 8px;
  -webkit-transform: translate3d(-30px, 0, 0);
          transform: translate3d(-30px, 0, 0);
  -webkit-transition: opacity 0.8s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.8s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.8s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  width: 18px;
  z-index: 3;
}

.vg-phases-list .slick-arrow.slick-disabled {
  opacity: 0;
  pointer-events: none;
}

.vg-phases-list .slick-arrow:hover svg {
  fill: #f7902a;
}

.vg-phases-list .slick-arrow svg {
  fill: #c8c8c8;
  -webkit-transition: fill 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: fill 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.vg-phases-list .slick-arrow.slick-next {
  left: auto;
  right: 8px;
  -webkit-transform: translate3d(30px, 0, 0) rotate(180deg);
          transform: translate3d(30px, 0, 0) rotate(180deg);
}.vg-quick-stats {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
          box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
  margin-bottom: 32px;
}

.vg-quick-stats .vg-stats-content {
  border-bottom: 1px solid #edeced;
  color: #797979;
  font-size: 1.4em;
  font-weight: 400;
  min-height: 96px;
  position: relative;
}

.vg-quick-stats .vg-stats-content:last-of-type {
  border-bottom: 0;
}

.vg-quick-stats .vg-stats-content p {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  margin: 0;
  padding: 0 18px;
  text-align: center;
  width: 100%;
}

.vg-quick-stats .vg-stats-content strong {
  display: block;
  font-size: 2.2em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  color: #f7902a;
}

@media (min-width: 1024px) {
  .vg-quick-stats .vg-stats-content {
    border: 0;
    border-left: 1px solid #edeced;
  }
}.vg-user-navigation {
  display: block;
  position: relative;
  width: 100%;
}

.vg-user-navigation a {
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
}

.vg-user-navigation .vg-user-link {
  display: none;
}

.vg-user-navigation .vg-user-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.vg-user-navigation .vg-user-menu li {
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 1024px) {
  .vg-user-navigation {
    display: inline-block;
    float: right;
    margin: 6px 0 0;
    width: 200px;
  }

  .vg-user-navigation a {
    font-size: 1.5em;
    font-weight: 400;
  }

  .vg-user-navigation.vg-user-active .vg-user-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 15px, 0);
            transform: translate3d(0, 15px, 0);
    -webkit-transition: opacity 0.8s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.4s linear, -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity 0.8s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.4s linear, -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity 0.8s cubic-bezier(0.25, 0.1, 0.25, 1), transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.4s linear;
    transition: opacity 0.8s cubic-bezier(0.25, 0.1, 0.25, 1), transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.4s linear, -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .vg-user-navigation.vg-user-active .vg-user-link .vg-icon svg {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }

  .vg-user-navigation .vg-user-link {
    clear: both;
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-align: right;
    padding-right: 20px;
    position: relative;
  }

  .vg-user-navigation .vg-user-link .vg-icon {
    fill: #fff;
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 7px;
    margin-right: 4px;
  }

  .vg-user-navigation .vg-user-link .vg-icon svg {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .vg-user-navigation .vg-user-menu {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
            box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
    top: 100%;
    right: -13px;
    display: block;
    opacity: 0;
    padding: 10px 0;
    position: absolute;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.4s linear, -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.4s linear, -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.4s linear;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.4s linear, -webkit-transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
    visibility: hidden;
    width: 200px;
    z-index: 2;
  }

  .vg-user-navigation .vg-user-menu::after,
  .vg-user-navigation .vg-user-menu::before {
    top: -26px;
    right: 3px;
    border: 10px solid transparent;
    border-bottom-color: #c8c8c8;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .vg-user-navigation .vg-user-menu::after {
    border-bottom-color: #fff;
    border-width: 17px;
  }

  .vg-user-navigation .vg-user-menu::before {
    right: 10px;
    top: -20px;
  }

  .vg-user-navigation .vg-user-menu li {
    display: block;
    text-align: left;
    margin-bottom: 0;
  }

  .vg-user-navigation .vg-user-menu li a {
    color: #4c4c4c;
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    line-height: 0;
    padding: 17px 10px;
    text-decoration: none;
    width: 100%;
  }

  .vg-user-navigation .vg-user-menu li a:hover {
    background-color: #f2f2f2;
  }
}.vg-header {
  background-color: #f7902a;
  height: 60px;
  padding-bottom: 14px;
  padding-top: 14px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.vg-header-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 144, 42, .9)), to(rgba(251, 174, 57, .9)));
  background: linear-gradient(to bottom, rgba(247, 144, 42, .9) 0%, rgba(251, 174, 57, .9) 100%);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
  -webkit-transition: opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), visibility 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0;
  width: 100%;
  visibility: hidden;
  will-change: transform;
  z-index: 1;
}

.vg-header-xsalad {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 32px;
  outline: none;
  padding: 0;
  position: absolute;
  right: 15px;
  width: 32px;
  will-change: transform;
  z-index: 2;
}

.vg-header-xsalad::before,
.vg-header-xsalad::after,
.vg-header-xsalad span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  border-radius: 4px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  -webkit-transition: background 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: background 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: background 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: background 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  width: 32px;
}

.vg-header-xsalad::before {
  -webkit-transform: translate3d(0, calc(50% - 13px), 0);
          transform: translate3d(0, calc(50% - 13px), 0);
}

.vg-header-xsalad::after {
  -webkit-transform: translate3d(0, calc(50% + 5px), 0);
          transform: translate3d(0, calc(50% + 5px), 0);
}

.vg-header.vg-active .vg-header-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.vg-header.vg-active .vg-header-xsalad span {
  background-color: transparent;
}

.vg-header.vg-active .vg-header-xsalad::before {
  -webkit-transform: translate3d(0, -3px, 0) rotate(45deg);
          transform: translate3d(0, -3px, 0) rotate(45deg);
}

.vg-header.vg-active .vg-header-xsalad::after {
  -webkit-transform: translate3d(0, -3px, 0) rotate(-45deg);
          transform: translate3d(0, -3px, 0) rotate(-45deg);
}

@media (min-width: 1024px) {
  .vg-header.vg-active .vg-header-wrapper {
    display: inline-block;
    -webkit-transition: none;
    transition: none;
  }

  .vg-header-wrapper {
    background: none;
    display: inline-block;
    opacity: 1;
    position: relative;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
    visibility: visible;
    width: calc(100% - 203px);
  }

  .vg-header-xsalad {
    display: none;
  }
}.vg-intro {
  background-color: #fff;
  padding: 24px 0;
  text-align: center;
}

.vg-intro .vg-avatar {
  margin-bottom: 12px;
}

.vg-intro h3 {
  color: #4c4c4c;
  font-family: "Lato", sans-serif;
  font-size: 2.2em;
  font-weight: 400;
  margin: 0;
}

.vg-intro p {
  color: #797979;
  font-family: "Lato", sans-serif;
  font-size: 1.6em;
  margin: 0;
  margin-top: 10px;
}

.vg-intro p a {
  color: #f7902a;
}.vg-list-wrap {
  list-style: none;
  margin: 0;
  padding: 0;
}

.vg-list-wrap .vg-list-item {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
          box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
  margin-bottom: 11px;
}

.vg-list-wrap .vg-list-item.vg-em-andamento-inscricao-encerrada .vg-detail .vg-timeline .vg-icon-calendar {
  fill: #fbae39;
  stroke: #fbae39;
}

.vg-list-wrap .vg-list-item.vg-veiculacao-suspensa .vg-detail .vg-timeline .vg-icon-calendar {
  fill: #ec373c;
  stroke: #ec373c;
}

.vg-list-wrap .vg-list-item .vg-list-header {
  border-bottom: 0;
  width: 100%;
}

.vg-list-wrap .vg-list-item > [class^='vg-list-'] {
  display: inline-block;
  list-style: none;
  vertical-align: top;
}

.vg-list-wrap .vg-list-item > [class^='vg-list-']:last-child {
  border: 0;
  padding: 0;
}

.vg-list-wrap .vg-list-item .vg-detail {
  display: inline-block;
  font-family: "Lato", sans-serif;
  padding: 10px 20px;
}

.vg-list-wrap .vg-list-item .vg-detail .vg-icon {
  margin-right: 5px;
}

.vg-list-wrap .vg-list-item .vg-detail .vg-name-vacancy {
  color: #4c4c4c;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0 0 7px;
  padding: 0;
}

.vg-list-wrap .vg-list-item .vg-detail .vg-name-vacancy .vg-code-vacancy {
  color: #797979;
  font-weight: lighter;
  margin: 0 0 0 5px;
}

.vg-list-wrap .vg-list-item .vg-detail .vg-name-vacancy .vg-icon-pcd {
  fill: #4b9bb7;
  margin: 0 0 0 10px;
  stroke: #4b9bb7;
}

.vg-list-wrap .vg-list-item .vg-detail .vg-timeline {
  color: #797979;
}

.vg-list-wrap .vg-list-item .vg-detail .vg-timeline .vg-list-date {
  font-size: 1.3em;
}

.vg-list-wrap .vg-list-item .vg-detail .vg-timeline .vg-icon-calendar {
  fill: #c8c8c8;
  stroke: #c8c8c8;
}

.vg-list-wrap .vg-list-item .vg-detail .vg-timeline .vg-date-a {
  padding: 0 5px;
}

.vg-list-wrap .vg-list-item .vg-detail .vg-timeline .vg-list-date {
  display: inline-block;
  margin-right: 20px;
}

.vg-list-wrap .vg-list-item .vg-detail .vg-timeline .vg-status {
  font-size: 1.3em;
  font-weight: 700;
}

.vg-list-wrap .vg-list-item .vg-detail .vg-timeline .vg-status.vg-veiculacao_suspensa {
  color: #ec373c;
}

.vg-list-wrap .vg-list-item .vg-detail .vg-timeline .vg-status.vg-veiculacao_suspensa .vg-icon-warning {
  fill: #ec373c;
}

.vg-list-wrap .vg-list-item .vg-detail .vg-timeline .vg-status .vg-icon-checked {
  fill: #c8c8c8;
}

.vg-list-wrap .vg-list-item .vg-detail .vg-timeline .vg-status .vg-icon-clock {
  stroke: #797979;
}

.vg-list-wrap .vg-list-item .vg-list-buttons {
  float: right;
  padding: 15px 15px 0 0;
  text-align: right;
}

.vg-list-wrap .vg-list-item .vg-sla {
  border-top: solid 1px #edeced;
  display: block;
  margin: 10px 0 0;
  padding: 10px;
}

.vg-list-wrap .vg-list-item .vg-sla .vg-sla-bar {
  background-color: #edeced;
  border-radius: 5px;
  display: block;
  height: 8px;
  width: 100%;
}/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: #edeced;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 10px;
}

.vg-main {
  padding-top: 60px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0%, 10% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0%, 10% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.hide,
.hidden {
  display: none;
}

.show {
  display: block;
}

.vg-overflow-h {
  overflow: hidden;
}

.vg-text-center {
  text-align: center;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}

.hide-text {
  height: 1em;
  line-height: 1.5;
  overflow: hidden;
}

.hide-text::before {
  content: '';
  display: block;
  height: 100%;
  width: 0;
}

.no-pointer-events {
  pointer-events: none;
}

.vg-responsive-img {
  display: inline-block;
  width: 100%;
}

.vg-content-box {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
          box-shadow: 0 2px 1px rgba(0, 0, 0, .2);
  font-size: 1.5em;
  padding: 22px;
}

.vg-content-box p {
  line-height: 1.5;
}

@media (min-width: 1024px) {
  .vg-hide-lg {
    display: none;
  }
}

@media (min-width: 768px) {
  .vg-hide-sm {
    display: none;
  }
}

@media (min-width: 480px) {
  .vg-hide-xs {
    display: none;
  }
}

.vg-container-fluid,
.vg-container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

.vg-row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -8px;
  margin-right: -0.5rem;
  margin-right: -8px;
  margin-right: -0.5rem;
  margin-left: -8px;
  margin-left: -0.5rem;
  margin-left: -8px;
  margin-left: -0.5rem;
}

.vg-row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.vg-col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.vg-col-xs,
.vg-col-xs-1,
.vg-col-xs-2,
.vg-col-xs-3,
.vg-col-xs-4,
.vg-col-xs-5,
.vg-col-xs-6,
.vg-col-xs-7,
.vg-col-xs-8,
.vg-col-xs-9,
.vg-col-xs-10,
.vg-col-xs-11,
.vg-col-xs-12,
.vg-col-xs-offset-0,
.vg-col-xs-offset-1,
.vg-col-xs-offset-2,
.vg-col-xs-offset-3,
.vg-col-xs-offset-4,
.vg-col-xs-offset-5,
.vg-col-xs-offset-6,
.vg-col-xs-offset-7,
.vg-col-xs-offset-8,
.vg-col-xs-offset-9,
.vg-col-xs-offset-10,
.vg-col-xs-offset-11,
.vg-col-xs-offset-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-right: 8px;
  padding-right: 0.5rem;
  padding-right: 8px;
  padding-right: 0.5rem;
  padding-left: 8px;
  padding-left: 0.5rem;
  padding-left: 8px;
  padding-left: 0.5rem;
}

.vg-col-xs {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
}

.vg-col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.vg-col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.vg-col-xs-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
}

.vg-col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.vg-col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.vg-col-xs-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}

.vg-col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.vg-col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.vg-col-xs-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%;
}

.vg-col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.vg-col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.vg-col-xs-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

.vg-col-xs-offset-0 {
  margin-left: 0;
}

.vg-col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.vg-col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.vg-col-xs-offset-3 {
  margin-left: 25%;
}

.vg-col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.vg-col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.vg-col-xs-offset-6 {
  margin-left: 50%;
}

.vg-col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.vg-col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.vg-col-xs-offset-9 {
  margin-left: 75%;
}

.vg-col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.vg-col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.start-xs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.end-xs {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.middle-xs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-xs {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.between-xs {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media only screen and (min-width: 48em) {
  .vg-container {
    width: 46rem;
    width: calc(48 + 1rem);
    padding: 0;
  }

  .vg-col-sm,
  .vg-col-sm-1,
  .vg-col-sm-2,
  .vg-col-sm-3,
  .vg-col-sm-4,
  .vg-col-sm-5,
  .vg-col-sm-6,
  .vg-col-sm-7,
  .vg-col-sm-8,
  .vg-col-sm-9,
  .vg-col-sm-10,
  .vg-col-sm-11,
  .vg-col-sm-12,
  .vg-col-sm-offset-0,
  .vg-col-sm-offset-1,
  .vg-col-sm-offset-2,
  .vg-col-sm-offset-3,
  .vg-col-sm-offset-4,
  .vg-col-sm-offset-5,
  .vg-col-sm-offset-6,
  .vg-col-sm-offset-7,
  .vg-col-sm-offset-8,
  .vg-col-sm-offset-9,
  .vg-col-sm-offset-10,
  .vg-col-sm-offset-11,
  .vg-col-sm-offset-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-left: 0.5rem;
  }

  .vg-col-sm {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
  }

  .vg-col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .vg-col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .vg-col-sm-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }

  .vg-col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .vg-col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .vg-col-sm-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }

  .vg-col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .vg-col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .vg-col-sm-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }

  .vg-col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .vg-col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .vg-col-sm-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }

  .vg-col-sm-offset-0 {
    margin-left: 0;
  }

  .vg-col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .vg-col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .vg-col-sm-offset-3 {
    margin-left: 25%;
  }

  .vg-col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .vg-col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .vg-col-sm-offset-6 {
    margin-left: 50%;
  }

  .vg-col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .vg-col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .vg-col-sm-offset-9 {
    margin-left: 75%;
  }

  .vg-col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .vg-col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-sm {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .end-sm {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .middle-sm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bottom-sm {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .between-sm {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .first-sm {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .last-sm {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (min-width: 64em) {
  .vg-container {
    width: 61rem;
    width: calc(64 + 1rem);
    padding: 0;
  }

  .vg-col-md,
  .vg-col-md-1,
  .vg-col-md-2,
  .vg-col-md-3,
  .vg-col-md-4,
  .vg-col-md-5,
  .vg-col-md-6,
  .vg-col-md-7,
  .vg-col-md-8,
  .vg-col-md-9,
  .vg-col-md-10,
  .vg-col-md-11,
  .vg-col-md-12,
  .vg-col-md-offset-0,
  .vg-col-md-offset-1,
  .vg-col-md-offset-2,
  .vg-col-md-offset-3,
  .vg-col-md-offset-4,
  .vg-col-md-offset-5,
  .vg-col-md-offset-6,
  .vg-col-md-offset-7,
  .vg-col-md-offset-8,
  .vg-col-md-offset-9,
  .vg-col-md-offset-10,
  .vg-col-md-offset-11,
  .vg-col-md-offset-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-left: 0.5rem;
  }

  .vg-col-md {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
  }

  .vg-col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .vg-col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .vg-col-md-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }

  .vg-col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .vg-col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .vg-col-md-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }

  .vg-col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .vg-col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .vg-col-md-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }

  .vg-col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .vg-col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .vg-col-md-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }

  .vg-col-md-offset-0 {
    margin-left: 0;
  }

  .vg-col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .vg-col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .vg-col-md-offset-3 {
    margin-left: 25%;
  }

  .vg-col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .vg-col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .vg-col-md-offset-6 {
    margin-left: 50%;
  }

  .vg-col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .vg-col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .vg-col-md-offset-9 {
    margin-left: 75%;
  }

  .vg-col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .vg-col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-md {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .end-md {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .middle-md {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bottom-md {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .between-md {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .first-md {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .last-md {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (min-width: 75em) {
  .vg-container {
    width: 71rem;
    width: calc(75 + 1rem);
    padding: 0;
  }

  .vg-col-lg,
  .vg-col-lg-1,
  .vg-col-lg-2,
  .vg-col-lg-3,
  .vg-col-lg-4,
  .vg-col-lg-5,
  .vg-col-lg-6,
  .vg-col-lg-7,
  .vg-col-lg-8,
  .vg-col-lg-9,
  .vg-col-lg-10,
  .vg-col-lg-11,
  .vg-col-lg-12,
  .vg-col-lg-offset-0,
  .vg-col-lg-offset-1,
  .vg-col-lg-offset-2,
  .vg-col-lg-offset-3,
  .vg-col-lg-offset-4,
  .vg-col-lg-offset-5,
  .vg-col-lg-offset-6,
  .vg-col-lg-offset-7,
  .vg-col-lg-offset-8,
  .vg-col-lg-offset-9,
  .vg-col-lg-offset-10,
  .vg-col-lg-offset-11,
  .vg-col-lg-offset-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-left: 0.5rem;
  }

  .vg-col-lg {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
  }

  .vg-col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .vg-col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .vg-col-lg-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }

  .vg-col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .vg-col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .vg-col-lg-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }

  .vg-col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .vg-col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .vg-col-lg-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }

  .vg-col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .vg-col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .vg-col-lg-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }

  .vg-col-lg-offset-0 {
    margin-left: 0;
  }

  .vg-col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .vg-col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .vg-col-lg-offset-3 {
    margin-left: 25%;
  }

  .vg-col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .vg-col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .vg-col-lg-offset-6 {
    margin-left: 50%;
  }

  .vg-col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .vg-col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .vg-col-lg-offset-9 {
    margin-left: 75%;
  }

  .vg-col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .vg-col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-lg {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .end-lg {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .middle-lg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bottom-lg {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .between-lg {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .first-lg {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .last-lg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.vg-title-1 {
  color: #4c4c4c;
  font-family: "Lato", sans-serif;
  font-size: 2.6em;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 0;
  text-align: center;
}

.vg-title-1.vg-title-mt {
  margin-top: 63px;
}