<!-- Doctype HTML5 -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Document Title -->
    <title>Dashboard Serviços || Vagas.com</title>

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <%= stylesheet_pack_tag 'application' %>

    <!-- Metatags -->
    <!-- Set character encoding for the document -->
    <meta charset="utf-8">
    <!-- Instruct Internet Explorer to use its latest rendereng engine -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Viewport for responsive web design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#f7902a" />
    <!-- Favicon -->
    <link rel="icon" sizes="192x192" href="/favicon.png">
    <link rel="icon" href="/favicon.png" type="image/png">
  </head>
  <body>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</body>
</html>
